<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenBoard - Route setter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
</head>
<body>
    <div id="display-container" hx-get="/home" hx-swap="innerHTML transition=true" hx-trigger="load">
    </div>
    <div id="footer" hx-get="/footer" hx-swap="innerHTML transition=true" hx-trigger="load">
    </div>
</body>
</html>