<style>
#display-container {
    view-transition-name: display-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 5vh;
}
</style>

<h2>Rotas cadastradas pela comunidade:</h2>
<br>
<br>
<form id="repo-selection-form" hx-post="/api/v1/route/create-selection">
    {% for route in routes %}
    <div class="button-container">
        <button class="button-route-ref" hx-get="/api/v1/route/{{ route.id }}" hx-swap="innerHTML transition:true" hx-target="closest div">
            &#8627; {{ route.grade }} &#11834; {{ route.name }}
        </button>
        <div class="custom-checkbox" onclick="toggleCheckbox(this)">
            <input type="checkbox" name="route-{{ route.id }}" class="select-checkbox" onclick="toggleCheckbox(event)">
        </div>
    </div>
    {% endfor %}
</form>
<div class="side-button-container">
    <button class="side-button" hx-get="/home" hx-swap="innerHTML transition:true" hx-target="#display-container"><span style="font-size: 20px;">&#8630;</span> Voltar</button>
    <button class="side-button" type="submit" form="checkbox-form"><span style="font-size: 20px;">&#8623;</span> Enviar seleção</button>
</div>
<script>
     function toggleCheckbox(event) {
        const input = event.target;
        const customCheckbox = input.parentElement;
        customCheckbox.classList.toggle('checked');
        input.checked = !input.checked;
    }
</script>