<div id="success-modal" class="modal">
    <div class="modal-content">
        <h2 id="success" hx-get="{{ data.redirect }}" hx-trigger="click" hx-swap="innerHTML transition:true" hx-target="#display-container">
            {{ data.title }} &#127881;
        </h2>
        <p>{{ data.message }}</p>
        <h4 style="font-weight: bold; font-size: 26px; color:black;">{{ data.code }}</h4>
    </div>
</div>
<script>
    function showModal() {
        let modal = document.getElementById('success-modal');
        modal.style.display = "block";
        setTimeout(function() {
            modal.style.display = "none";
            document.getElementById('success').click();
        }, 10000);
    }
    showModal();
</script>
